.container {
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  justify-content: center;
}

.cards{
  min-height: 150px;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  padding: 1rem;
  align-items: flex-end;
  justify-content: center;
}

.cards:hover {
  color: #2475ac;
  font-weight: var(--bold);
}

/* @media (max-width: 520px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
} */