.container {
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cards{
  min-height: 200px;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  padding: .5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
